In [1]:
import pandas as pd
import os
import numpy as np
import ind_exp
import joint_exp
import smooth
import csv
import time

In [2]:
data = pd.read_csv("../../../../temp_pums.csv", usecols=["INCWAGE", "ASECFLAG", "RELATE"])
sub_data = data[data["ASECFLAG"] == 1 & data["RELATE"].isin(["101", "201"])]
db = np.sort(pd.to_numeric(sub_data["INCWAGE"]))

nrep = 1

ind_opt = ind_exp.opt_comp_calculator(1, 1e-6, 9)

cols = ['0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.7', '0.8', '0.9']
ind_output = []
joint_output = []
smooth_output = []

In [5]:
time_in = time.perf_counter()
for loop in range(nrep):
	ind_out = pd.to_numeric(ind_exp.ind_exp(db, 0, 1000000, pd.to_numeric([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]), ind_opt, True))
	ind_output.append(ind_out)

	joint_out = pd.to_numeric(joint_exp.joint_exp(db, 0, 1000000, pd.to_numeric([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]), 1, True))
	joint_output.append(joint_out)

	smooth_out = pd.to_numeric(smooth.smooth(db, 0, 1000000, pd.to_numeric([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]), 1 / 9, 1e-6))
	smooth_output.append(smooth_out)
time_out = time.perf_counter()

/Users/jsnoke/Documents/Urban_Validation_Server/Code/formal-privacy-comp/dp-code/quantile-functions/ind_exp.py:124: RuntimeWarning: divide by zero encountered in log
  np.log(data_gaps) +
/Users/jsnoke/Documents/Urban_Validation_Server/Code/formal-privacy-comp/dp-code/quantile-functions/joint_exp.py:117: RuntimeWarning: divide by zero encountered in log
  data_intervals_log_sizes = np.log(data_intervals[:, 1] - data_intervals[:, 0])
/Users/jsnoke/Documents/Urban_Validation_Server/Code/formal-privacy-comp/dp-code/quantile-functions/joint_exp.py:118: RuntimeWarning: divide by zero encountered in log
  log_alpha = np.log(np.zeros([num_quantiles, num_intervals, num_quantiles]))
/Users/jsnoke/Documents/Urban_Validation_Server/Code/formal-privacy-comp/dp-code/quantile-functions/joint_exp.py:97: RuntimeWarning: divide by zero encountered in log
  np.log(y, out=y)
/Users/jsnoke/Documents/Urban_Validation_Server/Code/formal-privacy-comp/dp-code/quantile-functions/smooth_utils.py:102: RuntimeWarning: divide by zero encountered in log
  local_sensitivities)

In [7]:
print(f"Ran in {time_out - time_in:0.4f} seconds")

ind_df = pd.DataFrame(ind_output, columns = cols)
#ind_df.to_csv('ind_exp_output.csv')

joint_df = pd.DataFrame(joint_output, columns = cols)
#joint_df.to_csv('joint_exp_output.csv')

smooth_df = pd.DataFrame(smooth_output, columns = cols)
#smooth_df.to_csv('smooth_output.csv')

Ran in 11.9739 seconds

In [8]:
ind_df

,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9
0,6.111764,8.560129,34.050769,6483.874338,19018.023138,29967.583377,40000.403638,54266.390143,79441.574400
1,6.228255,7.955970,20.799893,6496.098870,19041.128309,29982.612412,40106.319280,54388.429778,79406.096531
2,6.465619,19.689928,38.596715,6421.222858,19184.778911,29647.594770,40035.592819,54050.743660,79672.911102

In [9]:
joint_df

,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9
0,0.000000,0.000000,0.560872,4833.457593,17999.309964,28042.444635,39804.688326,53998.742307,79749.539404
1,6.491784,16.287868,40.504462,4842.240117,17997.590528,28095.265747,39775.388789,53559.053090,79780.415499
2,0.000000,0.000000,0.641717,4889.423353,17996.973011,28015.492078,39888.626258,53540.880525,79057.135446

In [10]:
smooth_df

,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9
0,0.0,1.942242e-26,1.645278e-07,20657.067906,21607.627693,31577.381990,39990.445536,73805.909453,80252.656318
1,0.0,1.074003e-45,2.065363e-26,3064.210533,21572.125497,30253.806959,39929.613271,52057.874057,105725.217336